.photo {
    width: 18.82%;
    height: 12.9%;
    margin-top: 8.45%;
    margin-left: 40.6%;
}
#searchbox {
    width: 40.5%;
    height: 48px;
    margin-left: 29.8%;
    border-radius: 10px;
    border-width: 0.1px;
    border-color: gray;
    border-radius: 25px;
    outline-color: grey;
    outline-width: thin;
}

#searchbutton {
    min-width: 54px;
    line-height: 27px;
    height: 36px;
    background-color: #f8f9fa;
    color: #3c4043;
    border: 1px solid #f8f9fa;
    font-size: 14px;
    font-family: arial,sans-serif;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 545px;
    margin-top: 28px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    box-sizing: border-box;,
    display: inline-block;
}

#luckbutton {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    
}
#luckbutton:hover {
    border: 1px solid #dadce0;
}

#searchbutton:hover {
    border: 1px solid #dadce0;
}
